
@{
    ViewBag.Title = "Contact";
}

<section class="contact">
    <div class="container">
        <div class="contact-text">
            <span class="spacer-64"></span>
            <h1 class="text-center">Ekiplerimiz yardıma hazır</h1>
            <h2 class="text-center">İletişime geçin ve nasıl yardımcı olabileceğimizi bize bildirin.</h2>
            <span class="spacer-64"></span>
        </div>

        <div class="contact-wrapper row">
            <div class="col-lg-3">
                <div class="contact-card card-container text-center">
                    <div class="card-icon support">
                        <i class="fas fa-cogs"></i>
                    </div>
                    <h4>Teknik</h4>
                    <p>Herhangi bir sorun veya teknik destek vermek için buradayız.</p>
                    <a href="#" class="btn card-btn support">
                        <span class="arrow-icon">➝</span>
                        <span class="text">Destek Al</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="contact-card card-container text-center">
                    <div class="card-icon sales">
                        <i class="fas fa-hand-holding-usd"></i>
                    </div>
                    <h4>Satış</h4>
                    <p>Birlikte nasıl çalışabileceğimiz hakkında konuşmak isteriz.</p>
                    <a href="#" class="btn card-btn sales">
                        <span class="arrow-icon">➝</span>
                        <span class="text">Satıcı Ol</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="contact-card card-container text-center">
                    <div class="card-icon partner">
                        <i class="fas fa-handshake"></i>
                    </div>
                    <h4>İş Ortaklığı</h4>
                    <p>İş ortağı ekosistemimize katılın ve Teknoroma ile işinizi hızlandırın.</p>
                    <a href="#" class="btn card-btn partner">
                        <span class="arrow-icon">➝</span>
                        <span class="text">Partnerlik</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="contact-card card-container text-center">
                    <div class="card-icon advice">
                        <i class="fas fa-comment-medical"></i>
                    </div>
                    <h4>Öneri</h4>
                    <p>Almış olduğunuz hizmetle ilgili önerilerinizi duymak istiyoruz.</p>
                    <a href="#" class="btn card-btn advice">
                        <span class="arrow-icon">➝</span>
                        <span class="text">Görüş Bildir</span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>