
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="jumbotron">Index</div>
<div class="jumbotron">Index</div>
<div class="jumbotron">Index</div>
<div class="jumbotron">Index</div>
<div class="jumbotron">Index</div>
<div class="jumbotron">Index</div>
<div class="jumbotron">Index</div>
<div class="jumbotron">Index</div>

